<nav class='sidebar sidebar-menu-collapsed'>
  <ul>
    <li id="expand"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></li>
    <li id="add-marker"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
  </ul>
</nav>