@import "bootstrap-sprockets";
@import "bootstrap";
@import "side";
@import "map";

.navbar-brand {
  padding: 8px;

  img {
    width: 130px;
  }
}

.navbar-middle {
  left: 50%;
  margin: 10px 0 0 -50px;
  position: absolute;
  width: 105px;

  p {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    word-spacing: -15px;
  }

  .glyphicon-time {
    display: none;
    font-size: 20px;
  }

  .time-alert {
    animation: time-alert 1s linear 2;
    display: block;
  }

  @keyframes time-alert {
    50% { opacity: 0.0; }
  }
}

input#address-input {
  width: 250px;
}

.navbar-right {
  position :relative;

  #address-icon {
    top: 0px;
  }

  #add-address {
    width: 250px;
    position: absolute;
    top: 45px;
    left: 55px;
  }
}